<h1>Minus Downloader</h1>
<div id="lookup">
<form action="/minus/new" name="urlform">
  Minus folder URL: <input type="text" id="folderurl"/>
  <input type="button" id="submiturl" value="derp"/>
</form>
</div><br/>
<div id="progress">
</div>
